@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(241, 245, 241)
}



/* Cambia el color del texto de todas las alertas */
.alertify-notifier .ajs-message {
    color: white;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
}